/* .circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color : green;
} */

.piquet {
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: 50px;
}

.piquet2 {
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: 50px;
}